graphviz >= 0.14
gputil >= 1.4.0
matplotlib >= 3.2.1
Pillow >= 7.1.0

numpy >= 1.18.4
torch >= 1.6.0
torchvision >= 0.7.0

pytorch-lightning >= 1.0.2
nas-bench-201 >= 1.3.0
pymoo >= 0.4.1
torchprofile >= 0.0.1
timm >= 0.2.1
scipy >= 1.5.1

adabound >= 0.0.5
adabelief-pytorch >= 0.0.5
pyro5 >= 5.11.0
